@model MarysMajesticMovies.Movie

@{
    ViewData["Title"] = "Detail";
}

<div id="myNav">
    <div class="overlay-content">
        <div class="thumbnail-price">
            <div class="overlay-thumbnail">
                <img class="movie" width="254px" src="@Html.DisplayFor(model => model.PosterUrl)" />
            </div>
            <button class="overlay-price-button">@Html.DisplayFor(model => model.Price) SEK</button>
        </div>
        <div class="overlay-content-left">
            <p2>@Html.DisplayFor(model => model.Title)</p2>
            <iframe class="trailer" src="@Html.DisplayFor(model => model.TrailerUrl)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Rating: <p1>@Html.DisplayFor(model => model.ImdbRating)</p1></p>
            <p>Genre: <p1>@Html.DisplayFor(model => model.Genre)</p1></p>
            <p>Release year: <p1>@Html.DisplayFor(model => model.Year)</p1></p>
            <p>
                Plot: <p1>
                         @Html.DisplayFor(model => model.Plot)
                      </p1>
            </p>
            <p>Director: <p1>@Html.DisplayFor(model => model.Director)</p1></p>
            <p>Cast: <p1>@Html.DisplayFor(model => model.Actors)</p1></p>
            <p>Length: <p1>@Html.DisplayFor(model => model.RunTime)</p1></p>
        </div>
    </div>
</div>

@*<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RunTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RunTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImdbRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailerUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailerUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InStock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedToStoreDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedToStoreDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfOrders)
        </dd>
    </dl>
</div>*@
<div>
    <a asp-action="Index">Back to List</a>
</div>
