@model MarysMajesticMovies.Models.HomePageListModel;
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="content">
        <div class="banner">
            <img src="~/DesignDrafts/logo.png" class="logo" />
        </div>
        <div id="latest-section">
            <button id="LAL" class="movie-arrow-left" onclick="latestScrollL()"></button>
            <button id="LAR" class="movie-arrow-right" onclick="latestScrollR()"></button>
            <h1>Latest</h1>
            <div class="scroll">
                <div class="movies" id="latest-scroll">
                    <div id="latest">
                        @foreach (var item in Model.Latest)
                        {
                        <a asp-action="Detail" asp-route-id="@item.Id"><img src="@item.PosterUrl" class="movie"></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="popular-section">
            <button id="PAL" class="movie-arrow-left" onclick="popularScrollL()"></button>
            <button id="PAR" class="movie-arrow-right" onclick="popularScrollR()"></button>
            <h1>Popular</h1>
            <div class="scroll">
                <div class="movies" id="popular-scroll">
                    <div id="popular">
                        @foreach (var item in Model.Popular)
                        {
                        <a asp-action="Detail" asp-route-id="@item.Id"><img src="@item.PosterUrl" class="movie"></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="blockbuster-section">
            <button id="BBAL" class="movie-arrow-left" onclick="bbScrollL()"></button>
            <button id="BBAR" class="movie-arrow-right" onclick="bbScrollR()"></button>
            <h1>Blockbusters</h1>
            <div class="scroll">
                <div class="movies" id="bb-scroll">
                    <div id="blockbusters">
                        @foreach (var item in Model.Blockbuster)
                        {
                        <a asp-action="Detail" asp-route-id="@item.Id"><img src="@item.PosterUrl" class="movie"></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="action-section">
            <button id="AAL" class="movie-arrow-left" onclick="aaScrollL()"></button>
            <button id="AAR" class="movie-arrow-right" onclick="aaScrollR()"></button>
            <h1>Action</h1>
            <div class="scroll">
                <div class="movies" id="aa-scroll">
                    <div id="action">
                        @foreach (var item in Model.Action)
                        {
                        <a asp-action="Detail" asp-route-id="@item.Id"><img src="@item.PosterUrl" class="movie"></a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="oldies-section">
            <button id="OLL" class="movie-arrow-left" onclick="olScrollL()"></button>
            <button id="OLR" class="movie-arrow-right" onclick="olScrollR()"></button>
            <h1>Oldies</h1>
            <div class="scroll">
                <div class="movies" id="ol-scroll">
                    <div id="oldies">
                        @foreach (var item in Model.Oldies)
                        {
                        <a asp-action="Detail" asp-route-id="@item.Id"><img src="@item.PosterUrl" class="movie"></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

