@model MarysMajesticMovies.Controllers.AdminController

@{
    ViewData["Title"] = "AddMovie";
}

<style>
    .validation-summary-errors ul {
        list-style: none;
        margin-left: -40px;
    }
</style>

<div class="register">
    <div style="color: #ff4747">@ViewBag.StatusMessage</div>
    <h1>Search Movie</h1>
    <form asp-controller="Admin" asp-action="GetMovieInfo">
        <br />
        <label>Search by imdb id</label>
        <br />
        <input asp-for="SearchMovieInput.ImdbId" type="text" placeholder="Imdb id *" />
        <span asp-validation-for="SearchMovieInput.ImdbId" style="color: #ff4747"></span>
        <br />
        <br />
        <input type="submit" value="Search movie" />
    </form>
    <br />
    <br />
    <h1>Add Movie</h1>
    <form asp-controller="Admin" asp-action="PostMovie">
        <br />
        <div asp-validation-summary="ModelOnly" style="color: #ff4747; list-style: none;"></div>
        <label>Movie</label>
        <br />
        <input asp-for="AddMovieInput.ImdbId" type="text" value="@ViewBag.ImdbId" placeholder="Imdb id *" />
        <span asp-validation-for="AddMovieInput.ImdbId" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.Title" type="text"value="@ViewBag.MovieTitle" placeholder="Title *" />
        <span asp-validation-for="AddMovieInput.Title" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.Year" type="text" value="@ViewBag.Year" placeholder="Year *" />
        <span asp-validation-for="AddMovieInput.Year" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.RunTime" type="text" value="@ViewBag.RunTime" placeholder="Movie length (minutes) *" />
        <span asp-validation-for="AddMovieInput.RunTime" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.Genre" type="text" value="@ViewBag.Genre" placeholder="Genre *" />
        <span asp-validation-for="AddMovieInput.Genre" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.Director" type="text"value="@ViewBag.Director" placeholder="Director *" />
        <span asp-validation-for="AddMovieInput.Director" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.Actors" type="text" value="@ViewBag.Actors" placeholder="Actors *" />
        <span asp-validation-for="AddMovieInput.Actors" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.Plot" type="text" value="@ViewBag.Plot" placeholder="Plot *" />
        <span asp-validation-for="AddMovieInput.Plot" style="color: #ff4747"></span>
        <br />
        <br />
        <label>Media info</label>
        <br />
        <input asp-for="AddMovieInput.ImdbRating" type="text" value="@ViewBag.ImdbRating" placeholder="Imdb Rating *" />
        <span asp-validation-for="AddMovieInput.ImdbRating" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.PosterUrl" type="text" value="@ViewBag.PosterUrl" placeholder="Poster Url *" />
        <span asp-validation-for="AddMovieInput.PosterUrl" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.TrailerUrl" type="text" value="@ViewBag.TrailerUrl" placeholder="Trailer Url *" />
        <span asp-validation-for="AddMovieInput.TrailerUrl" style="color: #ff4747"></span>
        <br />
        <br />
        <label>Store info</label>
        <br />
        <input asp-for="AddMovieInput.Price" type="text" value="@ViewBag.Price" placeholder="Price *" />
        <span asp-validation-for="AddMovieInput.Price" style="color: #ff4747"></span>
        <br />
        <input asp-for="AddMovieInput.InStock" type="text" value="@ViewBag.InStock" placeholder="In Stock *" />
        <span asp-validation-for="AddMovieInput.InStock" style="color: #ff4747"></span>
        <br />
        <p>All fields marked with * are required.</p>
        <br />
        <br />
        <input type="submit" value="Add Movie" />
        <br />
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
